<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css"/>
    <title>{{title}}</title>
</head>
<body>
<header>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <a class="navbar-brand" href="/"><h1>Вкусная пицца</h1></a>
        <a class="nav-link" href="/">Меню</a>
        {% if current_user.is_authenticated %}
            {% if current_user.role == "manager" %}
                <a class="nav-link" href="/orders">Заказы</a>
                <a class="nav-link" href="list-user">Пользователи</a>
            {% else %}
                <a class="nav-link" href="/basket">Корзина</a>
            {% endif %}
        <a href="/edituser" class="user-name">{{ current_user.name }}</a>
        <a class="nav-link" href="/logout">Выйти</a>
        {% else %}
            <a class="nav-link" href="/basket">Корзина</a>
            <a class="nav-link" href="/register">Зарегистрироваться</a>
            <a class="nav-link" href="/login">Войти</a>
        {% endif %}
    </nav>
</header>
<!-- Begin page content -->
<main role="main" class="container">
    {% block content %}{% endblock %}
</main>
</body>
</html>