{% extends "base.html" %}

{% block content %}
<h2>Оформление заказа</h2>

<form action="" method="post">
    {{ form.hidden_tag() }}
    {{ form.csrf_token }}
    <p>
        {{ form.user_name.label }}<br>
        {{ form.user_name(class="form-control") }}<br>
        {% for error in form.user_name.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>
        {{ form.telephone.label }}<br>
        {{ form.telephone(class="form-control") }}<br>
        {% for error in form.telephone.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>
        {{ form.address.label }}<br>
        {{ form.address(class="form-control") }}<br>
        {% for error in form.address.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>
        {{ form.time_delivery.label }}<br>
        {{ form.time_delivery(class="form-control") }}<br>
        {% for error in form.time_delivery.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</form>
{% endblock %}